
###########################################################
#
#
#                       The Title
#
#
###########################################################

[ Section 1 ]

option1  = value1
option2  = value2
# dontreadthis = comment


[ Section 2 ]

option3  = value3 # Description for option3
option4  = value4 # Description for option4
